<div class="post-tile">

  {{#link-to "post" post.id}}
    <div class="post-text">
      <h2>{{post.title}}</h2>
      <h6>{{post.created_at}}</h6>
      <p>{{post.content}}</p>
      <div class="attachment">Attachment: {{post.attachment}}</div>

    </div>
  {{/link-to}}

  <div class="post-edit">
    <div>
      {{input value=updatedTitle placeholder="Edit post title"}}
      {{textarea value=updatedContent placeholder= "Edit post content"}}
      <button {{action 'handleUpdate' post.id}}>Update</button>
      <button {{action 'handleDelete' post.id}}>Delete</button>
      {{#link-to "post" post.id}}
        <button> View Post </button>
      {{/link-to}}
    </div>
  </div>

</div>
