<div class="post-tile">
  <h2>{{post.title}}</h2>
  <p>{{post.content}}</p>
  <div>
    {{input value=updatedTitle placeholder="new title for post 1"}}
    {{textarea value=updatedContent placeholder= "new content for post"}}
    <button {{action 'handleUpdate' post.id}}>Update</button>
  </div>

  <div>
    <button {{action 'handleDelete' post.id}}>Delete</button>
  </div>

  <div>
    <button {{action 'readPost'}}> Read Post 1 </button>
  </div>
</div>
