<div class="post-tile">
  <div class="post-text">
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>

  </div>

  <div class="post-edit">
    <div>
      {{input value=updatedTitle placeholder="Edit post title"}}
      {{textarea value=updatedContent placeholder= "Edit post content"}}
      <button {{action 'handleUpdate' post.id}}>Update</button>
      <button {{action 'handleDelete' post.id}}>Delete</button>
      <button {{action 'readPost'}}> Read Post 1 </button>
    </div>
  </div>

</div>
