<h2>Behold the Posts</h2>
<ul>
  {{#each model as |post|}}
    <li {{action "showPost" post}}>{{post.title}}, id {{post.id}}</li>
  {{/each}}
</ul>

<div>
  <button {{action 'readPost'}}> Read Post 1 </button>
</div>

<div>
  {{input value=newTitle placeholder="post title"}}
  {{input value=newContent placeholder="post content"}}
  <button {{action 'createPost'}}>Create</button>
</div>

<div>
  {{input value=updatedTitle placeholder="new name for post 1"}}
  <button {{action 'updatePost'}}>Update</button>
</div>

<div>
  {{input value=destroyId placeholder="id of post to delete"}}
  <button {{action 'destroyPost'}}>Delete</button>
</div>



{{outlet}}
