<h2>Behold the Posts</h2>

<div>
  {{input value=newTitle placeholder="post title"}}
  {{input value=newContent placeholder="post content"}}
  <button {{action 'createPost'}}>Create</button>
</div>

<ul>
  {{#each model as |postEntry|}}
    {{post-tile
      post=postEntry
      onUpdate=(action "updatePost")
    }}
  {{/each}}
</ul>


{{outlet}}
