<div class="container">
  <div class="author-post">
    <h2>Author a post</h2>
    {{input value=newTitle placeholder="post title"}}
    {{textarea value=newContent placeholder="post content"}}
    <button {{action 'createPost'}}>Create</button>
  </div>

  <ul class="post-list">
    {{#each model as |postEntry|}}
      {{post-tile
        post=postEntry
        onUpdate=(action "updatePost")
        onDelete=(action "deletePost")
      }}
    {{/each}}
  </ul>
</div>



{{outlet}}
