<div class="container">
  <div class="author-post">
    <h2>Author a post</h2>
    {{input value=newTitle placeholder="post title"}}
    {{textarea value=newContent placeholder="post content"}}
    {{input id="new-file" type="file"}}
    <button {{action 'createPost'}}>Create</button>
  </div>

  <ul class="post-list">
    <div>
      <h3>Sort By:</h3>
      <div class="">
        <input onchange={{action 'toggleSort' 'date'}} type="radio" value="date" id=sort-option-date name="sort-option" checked>
        <label for="sort-option-date">Published Date</label>
      </div>
      <div class="">
        <input onchange={{action 'toggleSort' 'title'}} type="radio" value="title" id=sort-option-title name="sort-option">
        <label for="sort-option-title">Title</label>
      </div>

    </div>
    <!-- Logic for sort. isSortByCreatedAt found in controller, toggled by toggleSort action -->
    {{#each (if isSortByCreatedAt sortedByCreatedAt sortedByTitle) as |postEntry|}}
      {{post-tile
        post=postEntry
        onUpdate=(action "updatePost")
        onDelete=(action "deletePost")
      }}
    {{/each}}
  </ul>
</div>



{{outlet}}
